.App {
  display: flex;
  justify-content: center;
  align-items: center;
  
  height: 100%;
}

.Container {
  background-color: #FFF;
  display: flex;
  width: 90%;
  box-shadow: 1px 1px 8px;
  border-radius: 20px;
  padding: 30px;
  margin-top: 30px;

}

